.imagesEdit img{
    width: 15%;
    height: 15%;
}

.eliminarImg {
    background-color: var(--sixth-color);
    font-size: 14px;
    margin-left: 20px;
    width: 20%;
    height: 10%;
    color: white;
}
.adminContenedor{
    height: 80%;
}