.title {
    text-align: center;
    color: var(--second-color);
    font-family: var(--principal-font);
    font-weight: 200;
    font-size: 40px;
  }
  
.boxResults {
    background-color: var(--first-color);
    font-family: var(--principal-font);
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    padding-top: 2em;
    padding-bottom: 4em;
  }

  .boxJuegos {
    padding: 2em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  @media (max-width: 768px) {
    .boxJuegos{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
  }